<h1>Brewery App</h1>
    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Logout</button>
    </form>
<a href="/login">Login</a>
<a href="/signup">Sign up</a>