@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    /* background-image: url(https://img.freepik.com/free-vector/beer-glasses-seamless-pattern-with-different-kinds-glasses-pulled-light-beers-malts-hand-drawing-white_1284-49325.jpg?t=st=1652957459~exp=1652958059~hmac=720dcd8479660f83cf10dbfdc2c14eaf6f7aae24054ee47f8789ca78b0d9a038&w=740); */
}

.container-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INDEX SECTION */
.index {
    width: 30%;
    padding: 50px 0;
    background-color: #263145;
    border-radius: 15px;
}

.index h1 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px #f8bb32;
}

.index-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.index a {
    text-decoration: none;
    text-align: center;
    color: #263145;
    background-color: #f8bb32;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 20px;
    min-width: 100px;
}

/* SIGN-UP / LOGIN SECTION */
.sign-up, 
.login{
    width: 30%;
    text-align: center;
    background-color: #263145;
    color: #f8bb32;
    padding-top: 20px;
    border-radius: 15px;
}

.sign-up form, 
.login form ,
.search form,
.edit form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 300px;
    font-size: 20px;
    margin-top: 20px;
}

.sign-up input, 
.login input,
.search input,
.edit input {
    font-size: 15px;
    text-align: center;
    padding: 5px 0;
}

.sign-up button, 
.login button,
.search button,
.edit button {
    margin: 20px auto;
    text-align: center;
    padding: 0.5rem 2rem;
    background-color: rgb(247, 194, 3);
    border-radius: 3px;
    font-size: 20px;
}

/* MY PAGE SECTION */

.my-page header,
.feed header,
.search header,
.edit header {
    text-align: center;
    background-color: #263145;
    color: #f8bb32;
    padding: 30px 0;
}

.my-page nav,
.feed nav,
.search nav,
.edit nav {
    margin-top: 30px;
}

.my-page ul,
.feed ul,
.search ul,
.edit ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.my-page li,
.feed li,
.search li,
.edit li {
    list-style: none;
}

.my-page a,
.feed a,
.search a,
.edit a {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(247, 194, 3);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 20px;
}

.my-page article,
.feed article,
.search article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 50%;
    margin: 0 auto;
}

.my-page .breweries,
.feed .breweries {
    padding: 20px 30px;
    width: 300px;
    margin: 50px auto;
    background-color: #263145;
    color: #f8bb32;

}

