@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sora', sans-serif;
    background-image: url(https://img.freepik.com/free-vector/beer-glasses-seamless-pattern-with-different-kinds-glasses-pulled-light-beers-malts-hand-drawing-white_1284-49325.jpg?t=st=1652957459~exp=1652958059~hmac=720dcd8479660f83cf10dbfdc2c14eaf6f7aae24054ee47f8789ca78b0d9a038&w=740);
}

.container-flex {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* INDEX SECTION */
.index {
    /* width: 30%; */
    padding: 50px 10px;
    margin: 0 10px;
    background-color: #263145;
    border-radius: 15px;
    min-width: 30%
}

.index h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: white;
    text-shadow: 1px 1px #f8bb32;
}

.index-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.index a {
    text-decoration: none;
    text-align: center;
    color: #263145;
    background-color: #f8bb32;
    box-shadow: 1px 1px white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
}

.index p {
    text-align: center;
    color: white;
    padding: 20px 20px;
}

/* SIGN-UP / LOGIN SECTION */
.sign-up, 
.login{
    text-align: center;
    color: #f8bb32;
    padding: 50px 10px;
    margin: 0 10px;
    background-color: #263145;
    border-radius: 15px;
    min-width: 350px;
}

.sign-up form, 
.login form ,
.search form,
.edit form{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* max-width: 300px; */
    font-size: 1rem;
    margin-top: 20px;
    padding: 0 10px;
}

.sign-up input, 
.login input,
.search input,
.edit input {
    font-size: 1rem;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin: 10px 0;
}

.sign-up button, 
.login button,
.search button,
.edit button {
    text-align: center;
    color: #263145;
    background-color: #f8bb32;
    border: none;
    box-shadow: 1px 1px white;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 1rem;
    width: 50%;
    margin: 20px auto 0 auto;
}

/* .sign-up label {
    color: white;
} */

.sign-up h1 {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 1px #f8bb32;
}

.sign-up h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* MY PAGE SECTION */

.my-page header,
.feed header,
.search header,
.edit header {
    text-align: center;
    background-color: #263145;
    color: #f8bb32;
    padding: 30px 0;
}

.my-page h2,
.feed h2,
.search h2,
.edit h2 {
    font-size: 20px;
}


.my-page nav,
.feed nav,
.search nav,
.edit nav {
    margin-top: 30px;
}

.my-page ul,
.feed ul,
.search ul,
.edit ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.my-page li,
.feed li,
.search li,
.edit li {
    list-style: none;
}

.my-page a,
.feed a,
.search a,
.edit a {
    text-decoration: none;
    text-align: center;
    color: black;
    background-color: rgb(247, 194, 3);
    padding: 0.5rem 1rem;
    border-radius: 3px;
    font-size: 20px;
}

.my-page article,
.feed article,
.search article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 155px;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
}

.my-page .breweries,
.feed .breweries,
.search .breweries,
.search-form{
    padding: 20px 30px;
    width: 300px;
    margin: 50px auto;
    background-color: #263145;
    color: #f8bb32;
    border-radius: 15px;

}

.my-page .brew-info p {
    padding: 5px 0;
}

.my-page .review {
    background-color: white;
    color: #263145;
    border-radius: 5px;
    padding: 5px 5px;
}

.my-page form {
    display: inline-block;
}

.my-page .logout button{
    margin: 20px auto;
    text-align: center;
    padding: 0.5rem 2rem;
    background-color: rgb(247, 194, 3);
    border-radius: 3px;
    font-size: 20px;
}
