<section class="container-flex">
    <section class="login">
        <h1>Brewery App</h1>
        <h2>Login Details</h2>
        <p><%= login_message %></p>
        <form action="/sessions" method="POST">
            <%# <label for="">Email:</label> %>
            <input type="text" name="email" placeholder="Email:">

            <%# <label for="">Password:</label> %>
            <input type="password" name="password" placeholder="Password:">

            <button>Cheers!</button>
        </form>
    </section>
</section>