<section class="container-flex">
    <section class="login">
        <h1>Login Details</h1>
        <p><%= login_message %></p>
        <form action="/sessions" method="POST">
            <label for="">Email:</label>
            <input type="text" name="email">

            <label for="">Password:</label>
            <input type="password" name="password">

            <button>Login</button>
        </form>
    </section>
</section>