<section class="container-flex">
    <section class="sign-up">
        <h1>Brewery App</h1>
        <h2>Sign up</h2>
        <p><%= sign_up_message %></p>
        <form action="/user" method="POST">
            <input type="text" name="name" placeholder="Name:">

            <input type="text" name="email" placeholder="Email::">

            <input type="password" name="password" placeholder="Password:">

            <button>Cheers!</button>

        </form>
    </section>
</section>