<h1>Brewery App</h1>

<form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="delete">
    <button>Logout</button>
</form>

<nav>
    <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="">My Breweries</a></li>
    </ul>
</nav>

<p><%= name %></p>
