<h1>Brewery App</h1>

<%= brewery['name']%>
<form action="/<%= brewery['id']%>" method="POST">
<input type="hidden" name="_method" value="put">

    <select name="rate" value=<%= brewery['rate'] %>>
        <option value="5">5</option>
        <option value="6">6</option> 
        <option value="7">7</option> 
        <option value="8">8</option> 
        <option value="9">9</option> 
        <option value="10">10</option>     
    </select>
    <input type="text" name="comments" value="<%= brewery['comments'] %>">
    <button>Update</button>
</form>