<section class="container-flex">
    <section class="index">
        <h1>Brewery App</h1>

        <section class="index-links">
            <a href="/login">Login</a>
            <a href="/signup">Sign up</a>
        </section>

    </section>
</section>